@import "tailwindcss";

@import "../../../../packages/react/src/support/support.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--color-background: var(--background);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
}

:root {
	--background: oklch(99% 0 0);
	--primary: oklch(20.5% 0 0);
	--primary-foreground: oklch(98.5% 0 0);
}

.dark {
	--background: oklch(14.5% 0 0);
	--primary: oklch(98.5% 0 0);
	--primary-foreground: oklch(20.5% 0 0);
}

html {
	@apply scroll-smooth;
}

body {
	font-synthesis-weight: none;
	text-rendering: optimizeLegibility;
}

body {
	@apply bg-background text-primary;
}
